.aboutMe {
  background-image: url('../../assets/background.jpeg');
  box-sizing: border-box;
  width: 100vw;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 30vh 10vw;
  text-align: left;
  line-height: 0.5;
}

.aboutMeText {
  position: absolute;
  left: 5vw;     /* horizontal distance from left edge */
  bottom: 15vh;   /* vertical distance from bottom edge */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  color: #000;
  line-height: 0.5;
  z-index: 2;
}
