/*
Styles for the main About Me section container
*/
.aboutMe {
    /* Background image for the section */
    /* The path is relative to THIS CSS file */
  /*background-image: url('../../assets/background.jpeg');*/
  background-color: #F8F9FB;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  width: 100vw;
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  left: 0;
  /* Space inside the container
  30vh = vertical padding (top & bottom)
  10vw = horizontal padding (left & right)
  */
  padding: 30vh 10vw;
  text-align: right;
  line-height: 0.5;
  color: #303359;
}

/*
Styles for the text box inside the About Me section
*/
.aboutMeText {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  left: 5vw;     /* horizontal distance from left edge */
  bottom: 15vh;   /* vertical distance from bottom edge */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Limit maximum width */
  color: #000;
  line-height: 0.5;
  z-index: 2; /* Ensure text appears above background */
}

.container{
    background-color: #F8F9FB;
}

.arrow{
    width: 30px;
    height: 30px;
    bottom: 10px;
    align-self: center;
}
