/* ScrollReveal.module.css */

/* add vertical space at the top */
.spacer {
  height: 5vh;
  background: #1D2638;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickyContainer {
  height: 200vh;
}

.stickySection {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.titleSection { /*section that scrolls left, that has titleContent*/
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1D2638;
  display: flex;
  align-items: left;
  padding-left: 10vw;
  padding-top: 10vh;
  z-index: 2;
  transition: transform 0.1s ease-out;
}

.titleContent { /* container for the title text */
  margin-top: 8vh;
}

.titleContent p { /* smaller font size for the Hi my name is */
  font-size: clamp(14px, 3vw, 30px);
  margin: 0.6rem 0 0;
  color: #a882bf;
  transition: font-size 150ms ease;
  text-align: left;
}

.titleContent h1 { /* larger font size for the name */
  font-size: clamp(80px, 13vw, 200px);
  margin-top: 3vh;
  line-height: 1;
  transition: font-size 150ms ease;
}

/* about me section - revealed underneath */
.aboutMeSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
