header {
  position: fixed; /* Fix the header at the top of the viewport */
  box-sizing: border-box; /* Makes padding and borders included in width */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1D2638;
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between; /* Space items evenly across the header */
  align-items: center; /* Vertically center items */
  z-index: 1000; /* Ensure header is above other content */
  height: 13vh;
  opacity: 0.9;
}

a{ /* Link styles */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: clamp(9px, 2vw, 18px);
    transition: color 150ms ease, font-size 150ms ease;
}

/* Hover state of links*/
a:hover {
  color: #a882bf;
}

/*
Navigation bar styles
*/
nav { /*the nav tag*/
    display: flex; /* display links in a row */
    gap: 3vw; /* space between links */
}

/*
Logo image styles
*/
.logo {
  height: 15vh;
}