/* two cards in a column, on repeat*/
.gridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh; /* Adjust the gap between rows as needed */
    padding: 0vh 5vw;
    background-color: #1D2638;
    margin-bottom: -15vh; /* FIXED: negative margin to pull up the next section for the scrolling */
    z-index: 1; /* Ensure this section is above the next section for scrolling effect */
}

.header h2{ /* title */
    margin-top: -1vh;
    font-size: clamp(30px, 9vw, 50px);
}

.subTitle {
    color: #C3E4EB;
    text-align: left;
    margin-left: 10vw;
    margin-top: 0;
    margin-bottom: 8vh;
    margin-right: 10vw;
    font-size: clamp(9px, 3vw, 18px);
}

