.projectsSection {
  margin-top: 0px;
  margin-bottom: 50px;
}

.carouselContainer {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  padding: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* optional snapping */
  margin-left: 5vw;
}
