.projectsSection {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.carouselContainer {
  display: flex;
  overflow-x: auto;
  overflow-y:hidden;
  gap: 40px;
  padding: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* optional snapping */
  margin-left: 1vw;
  margin-right: 1vw;
}

.carouselContainer>a{
flex-shrink: 0;
text-decoration: none;
color: inherit;
}
