.card{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.default{
    background-color: #fff;
}

.skillsCard{
    text-align: left;
    margin-left: 80px;
}

.description {
  color: #a882bf;
}

.projectCard{
    background-color: #1D2638;
    flex: 0 0 29%; /* 3 cards + peek */
    min-width: 150px;
    width: 380px;
    scroll-snap-align: start;
    height: 150px;
    border-radius: 40px;
    padding-top: 20px;
    border: 2px solid white;
    border-color: white;
}

.projectCard:hover{
    box-shadow: 0 0 20px 2px rgba(74,82,168,0.9);
}

.projectPageCard{
    flex: 0 0 20%; /* 3 cards + peek */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    scroll-snap-align: start;
    height: 100px;
    border-radius: 40px;
    opacity: 0.7;
}

.projectPageCard:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.projectPageCard.active{
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0 0 20px 2px rgba(74,82,168,0.9);
    margin-right: 30px;
}

.pink {
  --border-color: #a882bf;
  border: 2px solid var(--border-color);
}

.green {
  --border-color: #63ad7d;
  border: 2px solid var(--border-color);
}

.pink .description,
.green .description {
  color: var(--border-color);
}

.mainContentCard{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 50vh;
    width: 60vw;
    overflow-y: auto;
}

.mainContentCard h3,
.mainContentCard .date{
    color: #fff;
}

.date{
    text-align: right;
}

.skillsCard h3,
.projectCard h3{
    color: #63ad7d;
}

.projectPageCard h3{
    color: white;
}

.image {
  width: auto;
  height: 250px;
  object-fit: contain; /* preserves full image without cropping */
  display: block;
  border-radius: 12px;
  margin-bottom: 12px;
  justify-self: left;
  border: 1px solid white;
}

.mainContentCard .content{
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

.mainContentCard .description{
    padding-left: 20px;
}

