/* File: portfolio-react-app/src/components/ProjectsPage/ProjectsSection.module.css */
.projectsSection {
  position: relative;
  padding: 50px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: 2fr 5fr; /* use a space, not a comma */
  gap: 50px;
  align-items: start;
  height: 70vh;
  width: 100vw; /* use percent to avoid viewport overflow */
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 70px;
}

/* left column: carousel */
.carouselContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: 40px;
  padding: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 25px;
  box-sizing: border-box;
  grid-column: 1 / 2;
  padding-right: 27px;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 25px;
}

/* right column: main content */
.mainContent {
  box-sizing: border-box;
  grid-column: 2 / 3;
  padding: 10px;
  padding-top: 40px;
  overflow: auto; /* or auto if it needs scrolling */
  text-align: left;
}
