/* css */
.projectTitle {
  margin-top: 20vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 2vw; /* breathing room on both sides */
}

/* push code items to the right dynamically */
.keyCode {
  display: flex;
  gap: 1vw;
  margin-left: auto; /* important: makes this group stick to the right */
  align-items: center;
}

/* circle + text pair */
.codeItem {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-right: 2vw;
}

/* circle */
.codeSymbol {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
