.projectTitle {
  margin-top: 20vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 2vw; /* breathing room on both sides */
}

/* push code items to the right dynamically */
.keyCode {
  display: flex;
  gap: 1vw;
  margin-left: auto; /* push to the right (big as possible left margin), as flex container */
  align-items: center;
}

/* circle + text pair */
.codeItem {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-right: 2vw;
  font-size: clamp(10px, 2vw, 20px);
}

/* circle */
.codeSymbol {
  width: clamp(8px, 2vw, 16px);
  height: clamp(8px, 2vw, 16px);
  border-radius: 50%;
}
